.body {
  background-color: #efefff;
}

.bg-button {
  background-color: #615EFC;
}

.formsearch {
    width: 30%;
}

.dropdown-toggle {
  font: 400 0.9rem/1.25 sans-serif;
  /* color: white; */
  /* background: purple; */
  padding: em 1em;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .6em;
  height: .6em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: ''; 
  border: .3em solid;
  border-width: 0 .1em .1em 0;
  transform: rotateZ(45deg)
}

.search {
    border-radius: 50px;
    border-color: darkgray;
}

.search-icon {
    left: 41%;
    top: 39px;
 }

 .search-icon:hover{
    background-color: #615EFC;
    border-radius: 50px;
  }
  .search-icon:active {
    background-color: #615EFC;
    border-radius: 50;
    
  }

  .search-icon-table {
    left: 78%;
    top: 17px;
 }

 .search-icon-table:hover {
    background-color: #615EFC;
    border-radius: 50px;
    transform: scale(1.1);
  }
  .search-icon-table:active {
    background-color: #615EFC;
    border-radius: 50;
  }
  

  .a_icon_menu_top img:last-child {
    display: none;
   }
   
   .a_icon_menu_top:hover img:last-child {
     display: inline-block;
     width: 30px;
     height: 30px;
    }
   
    .a_icon_menu_top:hover img:first-child {
     display: none;
    }

.a_icon_menu img:last-child {
 display: none;
}

.a_icon_menu:hover img:last-child {
  display: inline-block;
  width: 35px;
  height: 35px;
 }

 .a_icon_menu:hover img:first-child {
  display: none;
 }


.nameperson {
    margin-top: 15px;
    margin-left: 7px;
} 

.namepersonsetting {
    margin-top: 15px;
    margin-left: 7px;
} 

.navleft {
  width: 4.5rem;
  height: 35rem;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  border-radius: 0 15px 15px 0;
} 

.navbigleft {
  width: 15rem;
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  border-radius: 0 15px 15px 0;
} 

.imgTag {
  margin-left: 87% !important;
}

.navheader {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
} 

.row {
    color: black;
    padding: 0;
} 

.navuptable {
    border-radius: 15px 15px 15px 15px;
} 

.navheadertab {
    width: 4.5rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    border-radius: 15px 15px 0 0;
} 

.navtable {
    border-radius: 15px 15px 0 0;
    border-bottom: 10px;
} 

h1{
    text-align: start;
}

h2{
    text-align: start;
}

.litable-400{
  width: 400px;
  text-align: start;
  text-align: center;
  /* height: 0; */
  padding: 0px;
}

.litable-300{
  width: 300px;
  /* height: 0; */
  /* text-align: start; */
  text-align: center;
  padding: 0px;
}

.litable-200{
  width: 200px;
  /* height: 0; */
  /* text-align: start; */
  text-align: center;
  padding: 0px;
}

.litable-150{
  width: 150px;
  /* height: 0; */
  /* text-align: start; */
  text-align: center;
  padding: 0px;
}

.litable-100{
  width: 100px;
  text-align: start;
  padding: 0px;
}

.litable-80{
  width: 80px;
  text-align: start;
  margin-left: 0px;
  margin-right: 0px;
}

.litable-60{
  width: 60px;
  text-align: start;
  margin-left: 0px;
  margin-right: 0px;
}

.litable-40{
  width: 40px;
  /* text-align: start; */
  margin-left: 0px;
  text-align: center;
  /* height: 0; */
  margin-right: 0px;
}

.ptable-80{
  width: 80px;
  text-align: start;
}

.ptable-60{
  width: 60px;
  text-align: start;
}

.ptable-250{
  width: 250px;
  text-align: start;
  padding: 10px;
}

.ptable-180{
  width: 180px;
  text-align: start;
  padding: 10px;
}


.btn {
  /* background-color: #615EFC; */
  /* color: #FFFFFF; */
}

.btn:hover{
  background-color: #cecdfe;
    /* color: #FFFFFF; */
    /* cursor:pointer */
}

.btn:active{
  background-color: #615EFC;
  padding: 5px;
}

.btnsub {
  /* background-color: #615EFC; */
  /* color: #FFFFFF; */
}

.btnsub:hover{
  background-color: #cecdfe;
  padding: 5px;
    /* color: #FFFFFF; */
    /* cursor:pointer */
}

.btnsub:active{
  background-color: #615EFC;
}

/* Nav left */
.dropdown-toggle-nav-left::after {
  display: inline-block;
  width: .6em;
  height: .6em;
  margin: .3em 0 0 0.5em;
  vertical-align: middle;
  content: ''; 
  border: .3em solid;
  border-width: 0 .1em .1em 0;
  transform: rotateZ(45deg)
}



/* Boton read mail */
.my-button-email {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/email-single.svg');
    background-repeat: no-repeat;
    background-position: 10%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-email:hover {
    background-color: #9593fd;
  }
  .my-button-email:active {
    background-color: #9593fd;
  }

/* Boton read mail */
.my-button {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/email.svg');
    background-repeat: no-repeat;
    background-position: 10%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #9593fd;
  }
  .my-button:active {
    background-color: #9593fd;
  }

  /* Boton UoDown mail */
  .my-button-UoDown {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/arrowsdown-dark.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-UoDown:hover {
    background-color: #9593fd;
  }
  .my-button-UoDown:active {
    background-color: #9593fd;
  }

  /* Boton Copy mail */
  .my-button-copy {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/copia-dark.svg');
    background-repeat: no-repeat;
    background-position: 20%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-copy:hover {
    background-color: #9593fd;
  }
  .my-button-copy:active {
    background-color: #9593fd;
  }

  /* Boton On mail */
  .my-button-on {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/on-dark.svg');
    background-repeat: no-repeat;
    background-position: 20%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-on:hover {
    background-color: #9593fd;
  }
  .my-button-on:active {
    background-color: #9593fd;
  }

  /* Boton Edit */
  .my-button-edit {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/edit-dark.svg');
    background-repeat: no-repeat;
    background-position: 20%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-edit:hover {
    background-color: #9593fd;
  }
  .my-button-edit:active {
    background-color: #9593fd;
  }

  /* Boton play */
  .my-button-play {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/play-dark.svg');
    background-repeat: no-repeat;
    background-position: 20%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-play:hover {
    background-color: #9593fd;
  }
  .my-button-play:active {
    background-color: #9593fd;
  }

  /* Boton download */
  .my-button-download {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/download-single.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-download:hover {
    background-color: #9593fd;
  }
  .my-button-download:active {
    background-color: #9593fd;
  }

  /* Boton close */
  .my-button-close {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/x-single.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-close:hover {
    background-color: #9593fd;
  }
  .my-button-close:active {
    background-color: #9593fd;
  }

  /* Boton grid */
  .my-button-grid {
    padding: 1px 15px;
    background-color: #615EFC;
    background-image: url('/assets/grid-single.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: right;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    /* top: 00px; */
    cursor: pointer;
  }
  .my-button-grid:hover {
    background-color: #9593fd;
  }
  .my-button-grid:active {
    background-color: #9593fd;
  }

  /* Boton general */
  .my-button-card {
    padding: 1px 15px;
    background-color: #29276a;
    background-image: url('/assets/x-single.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    text-align: left;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: auto; 
    cursor: pointer;
  }

  .my-button-card-blank {
    padding: 1px 15px;
    background-color:  #615EFC;
    background-repeat: no-repeat;
    background-position: 100%;
    text-align: left;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: auto; 
    cursor: pointer;
  }

  hr {
    border-color: #615EFC;
    border-width: 80%;
    border: 2;
  }

  /* table */
  .content-table{
    border-collapse: collapse;
    /* margin: 100px 0; */
    border-radius: 17px 15px 0 0;
    overflow: hidden;
    font-size: 0.9em;
    width: 100%;
  }

  .content-table thead tr{
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    text-align: center;
    width: 100px;
    height: 50px;
    margin-left: 100px;
  }

  .caja-destacada{
    padding:10px 10px 10px 10px;
    background:#ffe4b5;
    height: 1px !important;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
    line-height:2px !important;
    text-decoration-color: #ffe4b5;
    }

    .contenerdor1 {
      background-color: green;
      height: 20px;
      width: 100px;
      line-height: 20px !important;
      text-align: center;
      text-decoration-color: white;
      border-radius: 15px 0 0 15px;
    }
  
    .contenerdor2 {
      background-color: #ffa811;
      height: 20px;
      width: 100px;
      line-height: 15px !important;
      text-align: center;
      text-decoration-color: white;
      border-radius: 0 15px 15px 0;
    }
  
/* 
  .content-table th
  .content-table td {
    padding: 12px 15px;
  } */



/* Tipografia */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-bold-200 {
    font-family: "Roboto", sans-serif;
    font-weight: 1px;
    font-size: x-small;
    text-align: center;
    /* line-height: 50%; */
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-black-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: x-small;
    text-decoration: underline;
    font-style: normal;
  }

  .roboto-black-600 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: medium;
    font-style: normal;
  }

  .roboto-black-600-underline {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: medium;
    /* text-decoration: underline; */
    font-style: normal;
  }

  .active {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: small;
    color: #615EFC;
    text-decoration: underline;
    font-style: normal;
  }

  .span {
    color: #615EFC;
    text-decoration: underline;
  }

  .hover{
    color:purple;
    cursor:pointer
  }

  .activeTools {
    background-image: '';
  }

 
  .roboto-black-900 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: medium;
    text-decoration: underline;
    font-style: normal;
  }

  .roboto-black-table {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: small;
    font-style: normal;
  }

  .roboto-black-table-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: medium;
    font-style: normal;
  }

  .roboto-black-table-100-small {
    font-family: "Roboto", sans-serif;
    font-weight: 0;
    font-size: x-small;
    font-style: normal;
  }

  .roboto-black-table-300-small {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: small;
    font-style: normal;
  }

  .roboto-black-table-150-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: small;
    font-style: normal;
  }

  .roboto-black-table-300-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: medium;
    font-style: normal;
  }

  .roboto-black-table-350-small {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: small;
    font-style: normal;
  }

  .roboto-black-table-100-small-color {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: small;
    font-style: normal;
  }

  .roboto-black-table-500-small-color {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #ffa811;
    font-size: x-small;
    font-style: normal;
  }

  .roboto-black-table-500-small-color-green {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #81b522;
    font-size: x-small;
    font-style: normal;
  }

  .roboto-black-table-500-small {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: small;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .pagination a{
    text-decoration: none;
    color: black;
  }

  .pagination a active{
    text-decoration: #615EFC;
  }

  /*Card*/

  .card {
      background-color: #efefff;
      border: 0;
      margin-right: 5px;
      width: 14rem;
  }

  .card-body {
    /* background-color: #efefff; */
  } 

  .card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: medium;
    font-style: normal;
  }

  /* Iconos */

  .favorites-single {
    height: 20px;
    width: 20px;
    background-image: url(../assets/favorites.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }

  .favorites-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/favorites-litgh.svg);
  }
  
  .favorites-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/favorites-dark.svg);
  }

  .claims-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/claims.svg);
  }

  .claims-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/claims-litgh.svg);
  }
  
  .claims-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/claims-dark.svg);
  }

  .dashboard-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/dashboard.svg);
  }

  .dashboard-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/dashboard-litgh.svg);
  }
  
  .dashboard-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/dashboard-dark.svg);
  }

  .mail-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/email.svg);
  }

  .mail-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/email-litgh.svg);
  }
  
  .mail-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/email-dark.svg);
  }

  .members-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/member.svg);
  }

  .members-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/member-litgh.svg);
  }
  
  .members-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/member-dark.svg);
  }

  .payment-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/payment.svg);
  }

  .payment-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/payment-litgh.svg);
  }
  
  .payment-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/payment-dark.svg);
  }

  .op-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/op.svg);
  }

  .op-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/op-litgh.svg);
  }
  
  .op-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/op-dark.svg);
  }

  .bell-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/bell.svg);
  }

  .bell-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/bell-litgh.svg);
  }
  
  .bell-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/bell-dark.svg);
  }

  .tools-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/tools.svg);
  }

  .tools-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/tools-litgh.svg);
  }
  
  .tools-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/tools-dark.svg);
  }

  .logo-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/pora.svg);
  }

  .double-arrows {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrows.svg);
  }

  .search-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/search.svg);
  }

  .search-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/search-litgh.svg);
  }
  
  .search-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/search-dark.svg);
  }

  .arrow-up-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsup.svg);
  }

  .arrow-up-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsup-litgh.svg);
  }
  
  .arrow-up-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsup-dark.svg);
  }

  .arrow-down-single {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsdown.svg);
  }

  .arrow-down-ligth {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsdown-litgh.svg);
  }
  
  .arrow-down-darck {
    height: 28px;
    width: 28px;
    background-image: url(../assets/arrowsdown-dark.svg);
  }


 
  




  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }




  
  li.submenu.dropinline>a.dropdown-toggle.show::after {
      transform: rotate(0deg);
  }
  
  li.submenu.dropinline>a.dropdown-toggle::after {
      transform: rotate(-90deg);
  }

  li.submenu-md.dropinline ul.dropdown-menu[data-bs-popper] {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

li.submenu-md.dropinline ul.dropdown-menu[data-bs-popper] li {
    padding-left: 1em;
}
  
  
  